.tag {
    background-color: black;
    padding: 0px 10px;
    transition: 0.1s;
    cursor: pointer;
    display: inline-block;
    text-wrap: nowrap;
}
.tag:active {
    transition: 0s;
}

.tag-option {           background-color: white; user-select: none; }
.tag-option:hover {     background-color: rgb(233, 233, 233); }
.tag-option:active {    background-color: rgb(222, 222, 222); }

.tag-boolean-true {          background-color: rgb(150, 150, 150); }
.tag-boolean-true:hover {    background-color: rgb(180, 180, 180); }
.tag-boolean-true:active {   background-color: rgb(120, 120, 120); }
.tag-boolean-true-text {     color: rgb(244, 244, 244); }

.tag-boolean-false {          background-color: rgb(100, 100, 100); }
.tag-boolean-false:hover {    background-color: rgb(140, 140, 140); }
.tag-boolean-false:active {   background-color: rgb(80, 80, 80); }
.tag-boolean-false-text {     color: rgb(244, 244, 244); }

.tag-superuser {        background-color: #4f3824; }
.tag-superuser:hover {  background-color: #75573C; }
.tag-superuser:active { background-color: #291C11; }
.tag-superuser-text {   color: #ffd6b5; }

.tag-manager {          background-color: #d1603d; }
.tag-manager:hover {    background-color: #F07C58; }
.tag-manager:active {   background-color: #CE5D3B; }
.tag-manager-text {     color: rgb(255, 218, 203); }

.tag-cashier {          background-color: #ddb967; }
.tag-cashier:hover {    background-color: #d0e37f; }
.tag-cashier:active {   background-color: #C3A153; }
.tag-cashier-text {     color: #fbffd8; }

.tag-regular {          background-color: #367bb4; }
.tag-regular:hover {    background-color: #45a2ff; }
.tag-regular:active {   background-color: #23239e; }
.tag-regular-text {     color: #e9ebff; }

.tag-add {          background-color: #36b436; }
.tag-add:hover {    background-color: #45ff6a; }
.tag-add:active {   background-color: #2d9e23; }
.tag-add-text {     color: #e9ebff; }


.tag-adjustment, .tag-adjustment-clickable {                background-color: #4f3824; }
.tag-adjustment-clickable:hover {    background-color: #75573C; }
.tag-adjustment-clickable:active {                          background-color: #291C11; }
.tag-adjustment-text, .tag-adjustment-clickable-text {      color: #ffd6b5; }

.tag-event, .tag-event-clickable {                  background-color: #d1603d; }
.tag-event-clickable:hover {      background-color: #F07C58; }
.tag-event-clickable:active {                       background-color: #CE5D3B; }
.tag-event-text, .tag-event-clickable-text {        color: rgb(255, 218, 203); }

.tag-purchase {          background-color: #ddb967; }
/* .tag-purchase:hover {    background-color: #d0e37f; } */
/* .tag-purchase:active {   background-color: #C3A153; } */
.tag-purchase-text {     color: #fbffd8; }

.tag-redemption {          background-color: #367bb4; }
/* .tag-redemption:hover {    background-color: #45a2ff; } */
/* .tag-redemption:active {   background-color: #23239e; } */
.tag-redemption-text {     color: #e9ebff; }

.tag-transfer {          background-color: #48284a; }
<<<<<<< HEAD
/* .tag-transfer:hover {    background-color: #763C7A; } */
/* .tag-transfer:active {   background-color: #2F1431; } */
.tag-transfer-text {     color: #F6CEF9; }
=======
.tag-transfer:hover {    background-color: #763C7A; }
.tag-transfer-text {     color: #F6CEF9; }
>>>>>>> c0ccb83f6dd27c26b44f580d65f1d5e5b8f1eb25
