section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#block-text {
    display: flex;
    justify-content: center;
    text-wrap: nowrap;
}
#block-img {
    max-width: calc(100% - 600px);
}
img {
    max-height: 80vh;
    width: 100%;
}
@media (max-aspect-ratio: 1.4) {
    section {
        flex-direction: column-reverse;
    }
    h1 {
        text-align: center;
    }
    #block-img {
        max-width: 500px;
    }
}