aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #d9d9d9;
    padding: 16px;
}
.box-balance {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#mui-component-select-role {
    padding: 5px 32px 5px 10px;
}
.MuiInputBase-input {
    padding: 5px 10px !important;
}
.sidebar-button:hover {
    background-color: rgb(233, 233, 233);
}
.MuiToggleButtonGroup-grouped {
    height: 33px;
    margin-top: 8px !important;
}
.Mui-disabled {
    pointer-events: all !important;
    cursor: not-allowed !important;
}