table {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid rgb(222, 222, 222);
    border-bottom: 1px solid rgb(222, 222, 222);
}
.table-container {
    width: 100%;
    overflow-x: auto;
}
td, th {
    padding: 2px 10px;
}
tbody tr {
    text-align: left;
    transition: 0.1s;
}
tbody tr:hover {
    background-color: rgb(245, 245, 245);
}
.row-active {
    background-color: rgb(237, 244, 251);
}
.row-active:hover {
    background-color: rgb(227, 238, 250);
}
tbody tr {
    border-bottom: 1px solid rgb(222, 222, 222);
}
thead tr {
    border-bottom: 1px solid rgb(222, 222, 222);
}