table {
    border-collapse: collapse;
    width: 100%;
    border-top: 1px solid rgb(222, 222, 222);
    border-bottom: 1px solid rgb(222, 222, 222);
}
.table-container {
    width: 100%;
    overflow-x: auto;
}

thead td {
    padding: 2px 10px;
}
tbody th {
    padding: 5px 10px;
    cursor: pointer;
    user-select: none;
}
tfoot td {
    padding: 5px 10px;
}
tfoot tr {
    text-align: left;
    transition: 0.1s;
}
tfoot tr:hover {
    background-color: rgb(245, 245, 245);
}
.row-active {
    background-color: rgb(237, 244, 251);
}
.row-active:hover {
    background-color: rgb(227, 238, 250);
}
tfoot tr {
    border-bottom: 1px solid rgb(222, 222, 222);
}
tbody tr {
    border-top: 1px solid rgb(222, 222, 222);
    border-bottom: 1px solid rgb(222, 222, 222);
}
.table-buttons-page-stack {
    justify-content: space-between;
}
.table-page-stack {
    justify-content: flex-end;
    align-items: center;
}
@media (max-width: 1200px) {
    .table-buttons-page-stack {
        flex-direction: column !important;
    }
    .table-page-stack {
        justify-content: flex-start;
    }
}