.cssu-text {
    font-family: monospace !important;
    font-weight: 700 !important;
    letter-spacing: .3rem !important;
    color: inherit;
    text-decoration: none;
}
.nav-button:hover {
    background-color: rgb(35, 35, 35);
}